@inherits LayoutComponentBase
@inject Auth Auth

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">@userName</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    string userName;
    protected override async Task OnInitializedAsync()
    {
        userName = await Auth.Name();
        Auth.AuthChanged += AuthChangedHandler;
    }

    protected async void AuthChangedHandler(object sender, EventArgs args)
    {
        userName = await Auth.Name();

        // refreshing the binding of the blazor page, because it was not automatically refreshed becuase we are not using a user interface event change like onclick
        this.StateHasChanged();
    }
}
