@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    async Task Login()
    {
        // casting from AuthenticationStateProvider to our implementation (FooCargoAuthenticationStateProvider)
        FooCargoAuthenticationStateProvider provider = AuthenticationStateProvider as FooCargoAuthenticationStateProvider;
        await provider.Login("hamdanfiras@gmail.com", "12345");
    }

    async Task Logout()
    {
        FooCargoAuthenticationStateProvider provider = AuthenticationStateProvider as FooCargoAuthenticationStateProvider;
        await provider.Logout();
    }
}

<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>
        Welcome to your new app. <a href="/counter">Go to counter</a>
        <br />
        <button @onclick="Logout">Please logout</button>

    </Authorized>
    <NotAuthorized>
        <h1>Not Authorized</h1>

        <button @onclick="Login">Please login</button>

    </NotAuthorized>
</AuthorizeView>